<div id="answer" class="game-font center" style="display:none;">
	<span style="padding:50%">
			<h1 id="aaaa">  </h1>
		</span>
</div>

<div id="game-graphic" class="center"> 
		<div id="q-headline" class="game-font" style="float: left; width: 50%; padding: 20px;">
			<h1> <%= @question.description %> </h1>
		</div>
		<div id="gumball_machine"> 
			<div id="ball-1" class="ball"></div>
			<div id="ball-2" class="ball"></div>
			<div id="ball-3" class="ball"></div>
			<div id="ball-4" class="ball"></div>
			<div id="ball-5" class="ball"></div>
			<div id="ball-6" class="ball"></div>
			<div id="ball-7" class="ball"></div>
			<div id="ball-8" class="ball"></div>
			<div id="ball-9" class="ball"></div>
			<div id="ball-10" class="ball"></div>
			<div id="ball-11" class="ball"></div>
			<div id="ball-12" class="ball"></div>
		</div>	

	<!-- <p><%= link_to @question.incorrect_answer, answer_question_path(@question, :answer => @question.incorrect_answer) %> 
	or <%= link_to @question.answer, answer_question_path(@question, :answer => @question.answer) %> </p> -->
</div>

<div id="button-bar" style="width:820px; margin:20px auto; padding:0px;">
	<div id="next-button"></div>
	<div id="currency">
		<em></em>
		<span>£1 = 1.16$</span>
		<b></b>
	</div>
</div>
<script type="text/javascript">
$(function() {
	// Use this example, or...
	$('a[@rel*=lightbox]').lightBox(); // Select all links that contains lightbox in the attribute rel
	// This, or...
	$('#gallery a').lightBox(); // Select all links in object with gallery ID
	// This, or...
	$('a.lightbox').lightBox(); // Select all links with lightbox class
	// This, or...
	$('a').lightBox(); // Select all links in the page
	// ... The possibility are many. Use your creative or choose one in the examples above
});
</script>
<script type="text/javascript">
var ballCount=0;
var colors = new Array();
var checked = new Array();

var flag=false;

colors[0]="#FF1D25";
colors[1]="#3FA8F4";
colors[2]="#00A14F";
colors[3]="#FEC01E";

$('.ball').click(function() {
	var id = this.id;
	var ballNum = id.split('-')[1];
	if (checked[ballNum] != true) {
		checked[ballNum] = true;
		$(this).css("background-color", colors[ballNum % colors.length]);
		ballCount++;
	} else {
		checked[ballNum] = false;
		$(this).css("background-color", "");
		ballCount--;
	}
	// console.log(ballCount);
});

$('#next-button').click(function() {
	//		console.log(window.location.pathname + "/answer?answer="+ballCount);
	if (flag==false) {
		flag=true;
		$("#game-graphic").hide();
		$("#answer").show();
		if (ballCount == <%= @question.answer%>) {
			$("#aaaa").append("That is the right answer!!!");
			// $("#answer").css("background-image", "url(/images/Assets/Success_Page/" + <%= session[:level] + 1 %> + ".png)");
			$("#answer").append('<img id="theImg" src="/images/Assets/Success_Page/' + <%= session[:level] + 1 %> + '.png" />')
		} else {
			$("#aaaa").append("Wrong answer, please try again later.");
		}
	}else {
		window.location = window.location.pathname + "/answer?answer="+ballCount;
	}

});
</script>