<div id="game-graphic" class="center"> 
	<div id="answer" class="game-font" style="display:none; padding: 50px 20px 20px 100px;">
		<h1 id="aaaa" style="width:200px">  </h1>
		<!-- <%= image_tag("", :id => "level-prize") %> -->
	</div>
	<div id="question">
		<div id="q-headline" class="game-font" style="float: left; width: 25%; padding: 50px 20px 20px 100px;">
			<h1> <%= @question.description %> </h1>
		</div>
		<%= render "level_#{@level.id}" %>
	</div>
</div>

<div id="button-bar" style="width:820px; margin:20px auto; padding:0px;">
	<a id="next-button"></a>
	<!-- <%= image_tag("Assets/Game_page/Buttons/Next_button.png", :id => "next-button")%> -->
	<div id="currency">
		<em></em>
		<span>£1 = <%= "#{@level.currency}" %></span>
		<b></b>
	</div>
</div>

