<!DOCTYPE html>
<html>
<head>
	<title>PoundAround</title>
	<%= stylesheet_link_tag "default" %>
	<%= javascript_include_tag :defaults %>
	<%= javascript_include_tag 'jquery-1.7.1.min', 'application' %>
	<%= csrf_meta_tag %>
</head>
<body>
	<div id="outer" class="center">
		<%= yield %>
	</div>
</body>
</html>
